{% extends 'base.html.twig' %}

{% block body %}


<div >

    {% if char.died != "" %}
    <img src="https://pngimage.net/wp-content/uploads/2018/05/dead-cartoon-png-5.png">
    {% else %}
     <img src="https://pics.me.me/ahahah-stayin-alive-stayin-alive-6620922.png">
    {% endif %}

{{dump(char)}}

</div>
{% endblock %}